body {
  padding-top: 60px;
}
.form_in_colab li {
    list-style-type: none;
    /* alinha na horizontal */
    float: left;
    /* espaço entre elementos de lista */
    margin: 0 1em;

}
.form_in_colab ul {
	  margin: 3;
  	padding: 3;
  	display: block;
}

.form_in_colab input {
	padding: 12px 20px;
}

.btnMostrarFormCadastro{
  /**
  https://www.w3schools.com/css/css3_buttons.asp
  **/
  background-color: #444;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px;
  cursor: pointer;

}