.relogio{
	width: 40%;
    height: 30vh;
    font-size: 54px;
    position: absolute;
    left: 45%;
    top: 20%;
}

.registrar form{
	position: absolute;
    display: inline;
    left: 40%;
    top: 50%;
}

input#matriculaRegistro{
	height: 40px;
	width: 250px;
	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
}
input#enviarRegistro{
	height: 40px;
	border: none;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}

.dentro_camara {
	/** posiciona a lista de colaboradores dentro da câmara a direita 
	* posição absoluta
	caso transborde, cria uma barra de rolagem
	largura de 30% da página
	10% do topo da página
	encosta na borda direita e inferior
	*/
	position: absolute;
	overflow: scroll;
	width: 30%;
	top: 10%;
	right: 0;
	bottom:0;

}